---
import SocialLinks from './React/SocialLinks';
import Form from './React/Form';
import content from '../constants/content.json';
import { AnimatedContainer } from './React/AnimatedContainer';
---

<AnimatedContainer client:load className='col-span-12 lg:col-span-5'>
  <div class='bento-container h-full flex flex-col gap-5'>
    <div>
      <p class='section-label mb-4' id='social'>Contact</p>
      <p class='text-sm text-muted leading-relaxed max-w-sm'>
        {content.en.contact.heading}
      </p>
    </div>

    <SocialLinks client:load />

    <div class='pt-1'>
      <Form client:load />
    </div>
  </div>
</AnimatedContainer>
